*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;

    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
     padding: 60px;

}